<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Resource Prices (local time)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Resource Prices (local time)</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-container">
    <ion-row *ngFor="let price of prices" [ngClass]="[isCurrentHour(price) ? 'current-hour' : '']">
      <ion-col class="ion-text-left">{{ price.time | date:'HH:mm' }}</ion-col>
      <ion-col class="ion-text-right" [ngClass]="[price.fuel < 600 ? 'green' : price.fuel > 1300 ? 'red' : 'white']">{{ price.fuel }}</ion-col>
      <ion-col class="ion-text-right" [ngClass]="[price.co2 < 130 ? 'green' : price.co2 > 170 ? 'red' : 'white']">{{ price.co2 }}</ion-col>
    </ion-row>
  </div>

</ion-content>
