ion-grid {
  width: 100%;

  .head {
    td {
      text-align: center;
      font-size: 18px;
      font-weight: 700;
    }
  }

  ion-row {
    ion-col {
      text-align: right;
      border: 1px solid var(--ion-color-secondary);
      padding: 10px;
    }
  }

  ion-row.separator {
    ion-col {
      border: none;

      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  ion-row.current-half-hour {
    border: 2px solid lawngreen;
    ion-col {
      border-right: 1px solid lawngreen;
      border-left: 1px solid lawngreen;
    }

    ion-col:first-of-type {
      border-left: none;
    }

    ion-col:last-of-type {
      border-right: none;
    }
  }

}

