<table>
  <thead>
  <td>
    Hour
  </td>
  <td>
    Fuel needed
  </td>
  <td>
    Quotas needed
  </td>
  </thead>
  <ng-container *ngIf="showBefore">
    <tr *ngFor="let usageEntry of beforeUsage">
      <td>
        {{ usageEntry.time }}
      </td>
      <td>
        {{ usageEntry.fuel.individual | number }}
      </td>
      <td>
        {{ usageEntry.co2.individual | number }}
      </td>
    </tr>
  </ng-container>
  <tr class="separator">
    <td></td>
    <td><a (click)="toggleBeforeTable()">{{ currentToggleText }}</a> </td>
    <td></td>
  </tr>
  <tr *ngFor="let usageEntry of afterUsage">
    <td>
      {{ usageEntry.time }}
    </td>
    <td>
      {{ usageEntry.fuel.total | number }} <br>(<span style="color: yellow;">{{usageEntry.fuel.individual | number}}</span>)
    </td>
    <td>
      {{ usageEntry.co2.total | number }} <br>(<span style="color: yellow;">{{usageEntry.co2.individual | number}}</span>)
    </td>
  </tr>
</table>
