ion-grid {
  width: 100%;
  font-size: 14px;

  .head {
    ion-col {
      text-align: center;
      font-size: 18px;
      font-weight: 700;
    }
  }

  ion-row.separator {
    margin-top: 10px;
    margin-bottom: 10px;

    ion-col {
      border: none;

      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
