table {
  width: 100%;

  td {
    border: 1px solid var(--ion-color-secondary);
    padding: 10px;
  }

  thead {
    td {
      text-align: center;
      font-size: 18px;
      font-weight: 700;
    }
  }

  tr {
    td {
      text-align: right;
    }
  }
}

