<ion-grid>
  <ion-row class="head">
    <ion-col>
      Hour
    </ion-col>
    <ion-col>
      Fuel needed
    </ion-col>
    <ion-col>
      Quotas needed
    </ion-col>
  </ion-row>
  <ng-container *ngIf="showBefore">
    <app-usage-row *ngFor="let usageEntry of beforeUsage" [usageEntry]="usageEntry"/>
  </ng-container>
  <ion-row class="separator" *ngIf="beforeUsage.length > 0">
    <ion-col></ion-col>
    <ion-col style="text-align: center"><a (click)="toggleBeforeTable()">{{ currentToggleText }}</a> </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ng-container *ngIf="!!currentHalfHour">
    <app-usage-row [usageEntry]="currentHalfHour" [isCurrent]="true"/>
  </ng-container>
  <ion-row class="separator" *ngIf="beforeUsage.length > 0">
    <ion-col></ion-col>
    <ion-col></ion-col>
    <ion-col></ion-col>
  </ion-row>
  <app-usage-row *ngFor="let usageEntry of afterUsage" [usageEntry]="usageEntry"/>
</ion-grid>
