<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="apple-app-site-association">
        <system.webServer>
            <staticContent>
                <mimeMap fileExtension="." mimeType="application/json" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
