<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Resource Usage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Resource Usage</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-container">
    <ion-row *ngFor="let price of prices">
      <ion-col>{{ price.time | date:'HH:mm' }}</ion-col>
      <ion-col>{{ price.fuel }}</ion-col>
      <ion-col>{{ price.co2 }}</ion-col>
    </ion-row>
  </div>

</ion-content>
