<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Resource usage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Resource usage</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-container">
    <ng-container *ngIf="!!startedAt else notStarted">
      <h5>Today: </h5>
      <h4>{{startedAt}} - {{endAt}} </h4>
      <a (click)="reset()">Reset day</a>
      <h4>Current time: {{currentTime.hourMinutes}}</h4>
      <h2>Upcoming Usage</h2>
      <app-usage-table [currentTime]="currentTime.milliseconds"/>
    </ng-container>
  </div>
</ion-content>

<ng-template #notStarted>
  <ion-datetime presentation="time" hourCycle="h24" (ionChange)="selectTime($event)"></ion-datetime>
  <ion-button *ngIf="!startedAt" (click)="startDay()">Start Day</ion-button>
</ng-template>
