<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Price Input
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Price Input</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-container">
    <ion-input (ionChange)="updateDistance($event)" type="number" >
      <ion-label>Distance</ion-label>
    </ion-input>
    <ion-button type="submit" (click)="calculateTicketPrices()">
      Calculate
    </ion-button>
    <ion-row *ngIf="ticketPrices">
      <ion-col>{{ticketPrices.y | currency}}</ion-col>
      <ion-col>{{ticketPrices.j | currency}}</ion-col>
      <ion-col>{{ticketPrices.f | currency}}</ion-col>
    </ion-row>
    <ion-textarea (ionChange)="updateInput($event)" auto-grow="true" [value]="inputValue">
    </ion-textarea>
    <ion-button type="submit" (click)="submitInput()">
      Submit
    </ion-button>
  </div>

</ion-content>
