<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Guides
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Guides</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-container">
    <h2>THE AM4 GUIDE</h2>
    <p>By Scuderia Airlines (Star Alliance)</p>
    <p>
      Here’s something I’ve been working on and off on for a while. It’s taken a while but this is everything you need to know to get yourself started in this fun and complex game.

      Link to Google Docs for easy reading: https://docs.google.com/document/d/1umrjzPdwbjy7zKW48eBvhAjl7qzsqa97Fyg1hO93UxQ/edit?usp=sharing

      BUYING AIRCRAFT
      For the more profit-oriented individuals, this is a rather confusing thing to do. Is that flashy Airbus going to make me the best profit, or is that rickety 40-year old McDonnell Douglas from the bankruptcy auction a better choice?
      There are a few factors to be looked at to choose an aircraft that would fit in just right into your ambitious airline:
      Price
      Kind of basic, but surprisingly ignored by players a little too eager to grow. No, that $20 million plane carrying 350 passengers will not make you more money than the $5 million plane carrying 140 passengers. Why? Because you can buy 4 of those for $20M and carry 560 passengers, as opposed to 350. There are nuances to this, of course, but this a good rule of thumb to understand the logic here.
      You may argue that buying 4 planes instead of just 1 will fill up your fleet slots quickly. Well, that is exactly the point. Get to the fleet limit as soon as you can with quality cheap planes, and then start switching them out for better and bigger aircraft.
      Efficiency
      This is a factor quite important to those with default or slightly upgraded tanks. AM4 has two points of relevance for efficiency – Fuel consumption and CO2 emissions.
      Fuel consumption is measured in kg/km. If the fuel consumption value for an aircraft is 25 kg/km, it means the aircraft consumes 25 kg of fuel every kilometer flown. So on a 10,000 m trip, the plane will consume 250,000 kgs of fuel. If you buy fuel at an average of $800, that’s an expense of $200,000.
      CO2 Emissions are measured in kg/pax/km. Say an aircraft is carrying 100 passengers, on a 10,000 km trip, and has a CO2 emission value of 0.20 kg/pax/km. This means the aircraft will emit 0.20 X 100 x 10,000 = 200,000 kg of CO2. At an average buy of $120, that’s an expense of $240,000.
      Speed
      From all I know about this game, speed is the single most important factor when it comes to profits earned per day. BUT – it comes with some caveats. A fast plane is great, but it needs to fit your real-life schedule. So, a fast plane with very long range, such as the B747-8 or the A380-800, can be astoundingly profitable – with a price tag to match. But planes with speed but a lower range, such as the MC21-400, need to be chosen with some forethought about your real-life schedule and how frequently you can log in to the game to depart your planes.
      Capacity
      The more the merrier - not much to say here.
      Starter Aircraft
      I’m not going to go into the math involved here, but suffice it to say that these recommendations come after some very thorough calculations. That said, there is no compulsion to stick to this beaten path, maybe you prefer the road not taken. Whatever floats your boa…err – flies your planes.
      § McDonell Douglas DC-9-10 --- $659,657
      § Fokker F28-6000 --- $707,020
      § British Aerospace Bae1463-300 --- $527,912
      Beyond this, there are more than enough recommendations on the Boards in the forms of player guides and tools to help you in the next stages. I will point out some of the MVP, though:
      § Boeing 727-100
      § Irkut MC21-300
      § Boeing 727-200
      § Irkut MC21-400
      § McDonell Douglas DC10-10
      § Ilyushin IL-96-400
      § B747-SP
      § Airbus A330-300
      § Boeing 747-8
      § Boeing 747-400
      § Airbus A380-800
      These aircraft cover a range of price ranges and will get you to the A380-800 endgame stage very quickly all by themselves. If your favorite aircraft isn’t on here, it probably isn’t as good as you think it is.

      CREATING ROUTES
      This is most likely the part that is most player-specific, so I’ll keep my advice generic.
      You’ll have to decide the length of your flights based on the frequency at which you can log on to AM4 and depart your aircraft. Ideally, the shorter the route – the more it earns per hour. This is based on the ticket price formula which is in the form Ax + B. The constant term makes shorter flights more profitable.
      Every route has a set amount of demand for a day. Say, the demand for a certain route is Y1000 – J400 – F 300 and the route length is 5000 km. Let the aircraft have a capacity of 200 passengers, 5000 km range, and 1000 km/h speed. This aircraft, in a 100% Economy configuration, fly 5 trips on this route every day before the demand is all up.
      Use the Seat Configuration Tool on my website to get the configuration for this aircraft and route. You’ll then be able to see how many trips you can make on that route in a day. Demand resets at 00.00 UTC.
      Find a sweet spot, make your routes, and you’re good to go.
      Route Pricing
      The choice to auto-price or not is dependent on your willingness to spend an extra 30s to calculate/find more profitable prices.
      For Economy, multiply auto-price by 1.1, then round down to nearest 10 to be safe. For Business and First class, the factors are 1.08 and 1.06, respectively.

      Stopovers
      Stopovers are a good way to increase (potentially, double) the range of your existing aircraft. This enable you to fly farther – making the frequency of your departures lesser and making you more money along the way.
      Even though your plane flies farther, the pricing for stopover planes is still based on the distance between the origin and destination airport. Thus, a flight from Los Angeles to San Diego via New York City will net you very little money – because your price is based on the small distance between LA and San Diego. So, key to optimizing your stopover routes is to keep your flight path as straight as possible to avoid any extra distance flown.
      MARKETING
      Routes not earning you enough money due to your measly 49% reputation? Well, run some ads! Marketing increases your reputation, which has a direct correlation to the number of people who buy your tickets.
      As you’re starting out with primarily regional aircraft such as the DC9-10, it is recommended you ONLY run Eco marketing. The reputation of 59% is a good trade-off between increased profit and saving costs.
      Once you start to see decent cash flow, also add Airline Marketing. In my experience playing the game, the most expensive Airline Marketing category is your best bet. But it is a bit of a gamble with its 18-40% range. So choose Category 3 if you don’t want to take the chance – this, of course, will limit your profit potential.
      CARGO
      The Basics:
      The basics of operating cargo aircraft remains the same. But here are some pointers about Cargo:
      Large Loads are preferable, but only by a very small margin. Not like First Class on pax.
      Ticket multipliers are 1.1x for Large and 1.08x for Heavy. Ticket calculator for Cargo has been added to the website.
      Large : Heavy ratio is 1.428. A plane configured with 100% Large load will have capacity 70% of that of the original aircraft spec.
      Configuring Cargo planes is a little janky, not much to say at the moment except be careful. Configuration tool will be up on the website as soon as possible.
      The An225 poses a lot of operational problems, and may not end up justifying its acquisition and operation ($11M A-Check every 4 hours + 69 lbs/km fuel consumption) costs. Stopovers should help make it more practical.
      For now, the best Cargo plane seems to be the A380-800F. It doesn't earn as much as the An225, but you can actually fly it smoothly.
      The demand for Cargo is in direct proportion to Passenger demand.
      Large Demand = 500 x Economy Demand
      Heavy Demand = 1000 x Business Demand
      Cargo Aircraft Analysis:
      NOTE: The calculations here are in very ideal circumstances:
      100% Large load.
      24-hours running time.
      100% reputation.
      So while the profits you'll earn will be less than what the numbers here show, the relationships between every aircraft will remain the same.

      $0 - $1.2M
      No feasible aircraft. Both the DC3 and DC9 Cargo aircraft make a loss.

      DC3 Cargo
      Price: "0.85 million"
      Profit per Day ('Realism'): "$-103,088"
      Profit per Day ('Easy'): "$-142,154"
      DC9 Cargo
      Price: "1.10 million"
      Profit per Day ('Realism'): "$-351,097"
      Profit per Day ('Easy'): "$-452,120"

      Best Starter Cargo Aircraft
      A310-300F :
      Price: "7.94 million"
      Profit per Day ('Realism'): "$911,629"
      Profit per Day ('Easy'): "$1,732,459"

      $10M - $20M
      Best: Airbus A400M :
      Price: "12.82 million"
      Profit per Day ('Realism'): "$1,366,581"
      Profit per Day ('Easy'): "$2,513,947"
      NOTE: The other option, The Ilyushin IL-76D, is more expensive but earns about the same.

      $20M - $30M
      Only one option.
      Boeing B757-200F
      Price: "22.55 million"
      Profit per Day ('Realism'): "$2,137,722"
      Profit per Day ('Easy'): "$4,008,724"

      $40M - $60M
      B767-300F
      Price: "50.65 million"
      Profit per Day ('Realism'): "$5,141,683"
      Profit per Day ('Easy'): "$9,127,477"
      Alternative: The A330-200F earns about 2-3% more profit for $12M extra price.

      $100M - $150M
      B747-400F
      Price: "126.60 million"
      Profit per Day ('Realism'): "$5,999,118"
      Profit per Day ('Easy'): "$11,064,246"
      Alternative: The B747-8F earns the same, but is $9M more expensive.

      $150M and Above
      Every plane in this segment earns LESS than the B747-400F/B747-8F.
      The An-124 and A380-800F are duds for their price.
      An-124
      Price: "196.57 million"
      Profit per Day ('Realism'): "$6,010,748"
      Profit per Day ('Easy'): "$10,999,818"
      A380-800F
      Price: "298.77 million"
      Profit per Day ('Realism'): "$6,276,350"
      Profit per Day ('Easy'): "$11,541,102"

      The An-124 can't surpass the B747s while being $60-70M more expensive.
      The A380-800F, while showing some meagre gain, also costs 2.4 times more than the B747s.

      Here's the one you've been waiting for, the Mriya.

      An-225
      Price: "659.92 million"
      Profit per Day ('Realism'): "$10,146,542"
      Profit per Day ('Easy'): "$18,319,700"

      Don't get too excited, though. The plane costs almost $700M dollars and will never show the profits it brags on paper. Good luck finding routes to run this sustainably.

      MAINTENANCE
      A-Checks
      In an aircraft’s details page, you can see the flights hours it can do before it needs an A-check. A-checks are important because flying your fleet into the negative A-check hours means you can be hit with an Audit at any time – which has the potential to bankrupt your airline. A-checks can only be done at a hub.
      Repairs
      Repairs are not something you need to worry about, since aircraft get repaired when you do an A-Check. You will be unable to fly your airplane if it reaches 90% Wear, and you’ll need to repair it to have it off the ground again.

      BUYING HUBS
      Buying the right hubs is important. Ideally, you should have at least 7, one in each continent. But I’d recommend at least 8 – 2 for Asia because of its sheer size.
      These are the hubs you should choose from:
      Note that I’m not going to make a mess out here with 30 hubs listed with no formatting. These hubs are being recommended from experience and by looking at their demand data for various route lengths. You can take my word for them or verify the demands yourself before buying.
      · ASIA
      Singapore (SIN)
      Mumbai (BOM)
      Beijing Capital (PEK)
      Dhaka (DAC)
      Hong Kong (HKG)
      Dubai (DXB)
      New Delhi (DEL)
      · AUSTRALIA
      Sydney Intl (SYD)
      Canberra (CBR)
      · EUROPE
      London Heathrow Intl (LHR)
      Paris Charles de Gaulle (CDG)
      Amsterdam Schiphol (AMS)
      Frankfurt Intl (FRA)
      · NORTH AMERICA
      New York John F. Kennedy (JFK)
      Atlanta Int (ATL)
      Los Angeles (LAX)
      · SOUTH AMERICA
      Buenos Aires Intl (EZE)
      Brasilia (BSB)
      · AFRICA – Buy something cheap for easy A-checks.

      The hubs listed are way more than you need. So pick and choose, but have at least one in each continent.

      AFTERWORD
      I’ve done my best here to cover the basics here, so you can start your new airline without feeling too overwhelmed. There is more to the game though, and any questions you have will be answered on the Boards. Do search the Boards to see if your question has already been answered, before creating a new topic.
      Hope this will be helpful to new airlines.

      HELPFUL LINKS
      Tools Website – https://scuderiaairlines.github.io/AM4-Guides-and-Tools/
      Highest Demand Routes - https://docs.google.com/spreadsheets/d/12FcP--Ztl4CDyltZrJ9_Kj2Y5xixsl8ZXalHrtvVBOE/edit?usp=sharing
      High Market % Airports - https://docs.google.com/spreadsheets/d/1RhXeCtxS8zoHH9qdD43nD6inCHr2K4oaePdu5VqH9So/edit?usp=sharing
      I'll update the Google Doc linked at the start of this post as required.
    </p>

    <h2>Airplane buying guide</h2>
    <p>By TAM Linhas Aéreas</p>
    <p> / 4 years ago
      Airline Manager 4 has the biggest number of planes available to buy in a mobile simulator of this type. From propeller planes from the 1930's like the DC-3 , to planes of the golden era of air transport like the Boeing 707 and DC-8 , and planes that even wasn't launched like the 777-9X and Irkut MC-21, starting in this type of game if you are new can be difficult - there are lots of planes, and with the starting 1 million you can be lost and make a bad decision with it. So i created this list of the best planes of easy and realism by price , and the reason why it's the best, to save your time doing a fast read here and making the right choices instead if reading long sheets and opening browsers just to see them. Remember that the funniest way to play Airline Manager 4 is enjoy everything from the game and growing your airline in your own way with your own choice of planes , but this guide is made to give you the best planes.
      Here's the price categories:
      $1 - $500,000
      $500,000 - $1,000,000
      $1,000,000 - $2,500,000
      $2,500,000 - $5,000,000
      $5,000,000 - $10,000,000
      $10,000,000 - $25,000,000
      $25,000,000 - $45,000,000
      $45,000,000 - $60,000,000
      $60,000,000 - $100,000,000
      $100,000,00 - $200,000,000
      $200,000,000 - $1,000,000,000
      $1 - $500,000 : Bombardier CRJ100(easy and realism)
      The CRJ100 is the only decent plane in this price range. It has good Fuel consumption numbers, range and a low runway requirement. Price: $416,025
      Other good alternative: Aérospatiale ATR42-320 ($122,121)

      $500,000 - $1,000,000: McDonnell Douglas Douglas DC-9-10 (Easy)
      The DC-9-10 is one of the most famous planes in AM4 community for a good reason. Fast, has a regular range , a good fuel consumption and a excellent capacity for this price, and also a low runway requirement. Price: $659,657.
      Realism: British Aerospace BAe 146-300 The BAe 146-300 is better than the DC9 in realism due to the lower income in this mode. Because it has a higher capacity (112) , and a good range and cheaper maintenance, it's much easier to double your BAe 146-300 fleet in realism than a DC-9-10 fleet, making you grow faster. The disadvantage is the bad fuel and co2 consumption. Price: $527,912
      Other good alternatives: Tupolev Tu104B ($742,525), Sud Aviation Caravelle III ($581,947)
      $1,000,000 - $2,500,000: Boeing 727-100 (Easy) and Embraer ERJ-190-200 (Realism): The Boeing 727-100 is the best in this price range for easy players , it's one of the fastest planes of AM4, has a good range and excellent capacity and price (before the 727-100 , the MD-81 was the best at this price) The disadvantages are the very high runway requirement, making inviable to build large fleets of it in realism mode. Price: $1,364,217
      The Embraer ERJ-190-200 is a regional jet that has a good capacity, range , speed and excellent fuel efficiency, but the reason that is the best for realism players is cheap price and the 2000ft. runway requirement, making it land anywhere. Price: $1,598,528
      Other good alternatives: Antonov An-12 ($1,192,364) , Lockheed Electra ($1,242,121) , Caravelle 12 ($1,740,539) , MD-81 ($2,296,357) , Boeing 717-200 ($2,238,611)

      $2,500,000 - $5,000,000: Irkut MC-21-300 (easy and realism): Irkut planes just arrived in AM4 with the MC21 series and already become one of the favorite planes of the community. The reason is because it's one of the fastest planes , has a good capacity of 198 pax, good fuel and co2 efficiency, and extremely cheap maintenance. The only disadvantage is the runway requirement , but it's still lower than all 737s. Price: $4,552,276
      Good alternatives: Boeing 727-200 ($4,883,110) , Boeing 737-800 ($4,407,858) , Airbus A220-100 ($3,234,528)
      $5,000,000 - $10,000,000: Irkut MC-21-400 (Easy) and McDonnell Douglas DC-10-10 (Realism)
      The Irkut MC-21-400 just arrived and already robbed the DC-10-10 as the favorite medium-haul jet of AM4 community. It's because it's cheaper than the DC-10, faster, and more fuel efficient. Price: $5,204,503
      The DC-10-10 used to be the best medium-haul plane before the arrival of the MC21-400 , but in realism it's still the king of medium-haul jets. Good capacity and range and excellent speed combined with extreme low runway requirement of 2000ft. make the DC-10-10 really worth it in realism. The disadvantage is the very high fuel consumption. Price: $6,806,411
      Other good alternatives: Boeing 757-300 ($7,002,640) , Mcdonnell Douglas DC-8-62 if you want to go long-haul ($8,696,462)

      $10,000,000 - $25,000,000: Boeing 787-8 (easy and realism) In 80% of the cases, this is the first long haul plane that you buy. And you are right! The 787-8 is a awesome plane for long haul flights. It has an excellent fuel efficiency and range, good capacity and a good price. Price: $19,411,920
      Other good alternatives: Airbus A340-200 ($15,688,189) , Boeing 737 MAX-10 ($19,649,600)
      TheHeuman — Today at 2:53 PM
      $25,000,000 - $45,000,000: Boeing 747SP (easy) and Ilyushin Il-96-400 (realism)
      The Boeing 747SP is another case of a plane that took over the place of favorite plane of the community. Before it came out, the Il-96-400 was the king of long-haul planes below 45 millions. The 747SP arrived and took his throne because it's faster , has more range , has a cheaper maintenance and burn much less fuel than the Il-96-400, making more profit although it has 90 less seats. Price: $40,824,800
      The Ilyushin Il-96-400 , nicknamed by the community "The Big Russian Gas Guzzler", has an excellent capacity and a good range. It's still the King of long haul of realism because of it's runway requirement of only 2000ft. However, it has a horrible fuel efficiency , one of the worst of the game.
      Other good alternatives: L-1011-500 ($33,120,715) Airbus A330-300 ($43,330,073)

      $45,000,000 - $60,000,000: McDonnell Douglas MD-11 (all models, easy and realism) The McDonnell Douglas is one of the best long haul planes of the game. It has an excellent capacity of 410 passengers, good range , price and speed. It's disadvantage are the very high fuel and co2 consumption. Price : $56,273,548 (MD-11C) , $57,269,139 (MD-11) , $60,676,778 (MD-11ER , model with bigger range)
      $60,000,000 - $100,000,000: Boeing 787-10:(easy and realism) The 787-10 is another plane that was recently added. It's the best in this price category because of it's excellent capacity of 440 (The A330-900neo that costs 109 million has the same) , cheap price compared to smaller planes that Cost much more, good range and fuel efficiency. It also has a low runway requirement of 8000ft. although is a big plane. Price: $72,795,638
      Other good alternatives: Boeing 777-300 ($89,987,157) , Boeing 777-200 ($60,803,647) , Boeing 747-400C ($72,722,924) , Boeing 777-200ER with Trent 895 engines ($84,172,921)

      $100,000,000 - $200,000,000: Boeing 747-8(Easy and realism) The 747-8 is currently the 3rd fastest plane of AM4. It has excellent range, speed, capacity and also a quite low fuel consumption. With speed upgrades , it can fly between São Paulo and Munich in just 6 hours in easy mode. Price: $121,097,727
      Other good alternatives: Airbus A330-900neo ($109,315,468)

      [b]$200,000,000 - $1,000,000,000: Airbus A380 (Easy and realism). It's the biggest plane of AM4 and also the ultimate money printer. It has an obvious excellent capacity, excellent speed with Trent 972 engines, excellent range, excellent everything. Price: $215,629,503
    </p>
  </div>
</ion-content>
