<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Guides
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Guides</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-container">
    <div *ngFor="let guide of guides" (click)="toggleGuideOpen(guide)" class="guide-wrapper">
      <div *ngIf="!guide.open">
        <h2>{{guide.title}}</h2>
        <p>{{guide.author}}</p>
      </div>
      <markdown [src]="guide.src" *ngIf="guide.open" />
    </div>
  </div>
</ion-content>
