<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Guide
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Guide</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-container">
    <h2>THE AM4 GUIDE</h2>
    <p>By Scuderia Airlines (Star Alliance)</p>
    <p>
      Here’s something I’ve been working on and off on for a while. It’s taken a while but this is everything you need to know to get yourself started in this fun and complex game.

      Link to Google Docs for easy reading: https://docs.google.com/document/d/1umrjzPdwbjy7zKW48eBvhAjl7qzsqa97Fyg1hO93UxQ/edit?usp=sharing

      BUYING AIRCRAFT
      For the more profit-oriented individuals, this is a rather confusing thing to do. Is that flashy Airbus going to make me the best profit, or is that rickety 40-year old McDonnell Douglas from the bankruptcy auction a better choice?
      There are a few factors to be looked at to choose an aircraft that would fit in just right into your ambitious airline:
      Price
      Kind of basic, but surprisingly ignored by players a little too eager to grow. No, that $20 million plane carrying 350 passengers will not make you more money than the $5 million plane carrying 140 passengers. Why? Because you can buy 4 of those for $20M and carry 560 passengers, as opposed to 350. There are nuances to this, of course, but this a good rule of thumb to understand the logic here.
      You may argue that buying 4 planes instead of just 1 will fill up your fleet slots quickly. Well, that is exactly the point. Get to the fleet limit as soon as you can with quality cheap planes, and then start switching them out for better and bigger aircraft.
      Efficiency
      This is a factor quite important to those with default or slightly upgraded tanks. AM4 has two points of relevance for efficiency – Fuel consumption and CO2 emissions.
      Fuel consumption is measured in kg/km. If the fuel consumption value for an aircraft is 25 kg/km, it means the aircraft consumes 25 kg of fuel every kilometer flown. So on a 10,000 m trip, the plane will consume 250,000 kgs of fuel. If you buy fuel at an average of $800, that’s an expense of $200,000.
      CO2 Emissions are measured in kg/pax/km. Say an aircraft is carrying 100 passengers, on a 10,000 km trip, and has a CO2 emission value of 0.20 kg/pax/km. This means the aircraft will emit 0.20 X 100 x 10,000 = 200,000 kg of CO2. At an average buy of $120, that’s an expense of $240,000.
      Speed
      From all I know about this game, speed is the single most important factor when it comes to profits earned per day. BUT – it comes with some caveats. A fast plane is great, but it needs to fit your real-life schedule. So, a fast plane with very long range, such as the B747-8 or the A380-800, can be astoundingly profitable – with a price tag to match. But planes with speed but a lower range, such as the MC21-400, need to be chosen with some forethought about your real-life schedule and how frequently you can log in to the game to depart your planes.
      Capacity
      The more the merrier - not much to say here.
      Starter Aircraft
      I’m not going to go into the math involved here, but suffice it to say that these recommendations come after some very thorough calculations. That said, there is no compulsion to stick to this beaten path, maybe you prefer the road not taken. Whatever floats your boa…err – flies your planes.
      § McDonell Douglas DC-9-10 --- $659,657
      § Fokker F28-6000 --- $707,020
      § British Aerospace Bae1463-300 --- $527,912
      Beyond this, there are more than enough recommendations on the Boards in the forms of player guides and tools to help you in the next stages. I will point out some of the MVP, though:
      § Boeing 727-100
      § Irkut MC21-300
      § Boeing 727-200
      § Irkut MC21-400
      § McDonell Douglas DC10-10
      § Ilyushin IL-96-400
      § B747-SP
      § Airbus A330-300
      § Boeing 747-8
      § Boeing 747-400
      § Airbus A380-800
      These aircraft cover a range of price ranges and will get you to the A380-800 endgame stage very quickly all by themselves. If your favorite aircraft isn’t on here, it probably isn’t as good as you think it is.

      CREATING ROUTES
      This is most likely the part that is most player-specific, so I’ll keep my advice generic.
      You’ll have to decide the length of your flights based on the frequency at which you can log on to AM4 and depart your aircraft. Ideally, the shorter the route – the more it earns per hour. This is based on the ticket price formula which is in the form Ax + B. The constant term makes shorter flights more profitable.
      Every route has a set amount of demand for a day. Say, the demand for a certain route is Y1000 – J400 – F 300 and the route length is 5000 km. Let the aircraft have a capacity of 200 passengers, 5000 km range, and 1000 km/h speed. This aircraft, in a 100% Economy configuration, fly 5 trips on this route every day before the demand is all up.
      Use the Seat Configuration Tool on my website to get the configuration for this aircraft and route. You’ll then be able to see how many trips you can make on that route in a day. Demand resets at 00.00 UTC.
      Find a sweet spot, make your routes, and you’re good to go.
      Route Pricing
      The choice to auto-price or not is dependent on your willingness to spend an extra 30s to calculate/find more profitable prices.
      For Economy, multiply auto-price by 1.1, then round down to nearest 10 to be safe. For Business and First class, the factors are 1.08 and 1.06, respectively.

      Stopovers
      Stopovers are a good way to increase (potentially, double) the range of your existing aircraft. This enable you to fly farther – making the frequency of your departures lesser and making you more money along the way.
      Even though your plane flies farther, the pricing for stopover planes is still based on the distance between the origin and destination airport. Thus, a flight from Los Angeles to San Diego via New York City will net you very little money – because your price is based on the small distance between LA and San Diego. So, key to optimizing your stopover routes is to keep your flight path as straight as possible to avoid any extra distance flown.
      MARKETING
      Routes not earning you enough money due to your measly 49% reputation? Well, run some ads! Marketing increases your reputation, which has a direct correlation to the number of people who buy your tickets.
      As you’re starting out with primarily regional aircraft such as the DC9-10, it is recommended you ONLY run Eco marketing. The reputation of 59% is a good trade-off between increased profit and saving costs.
      Once you start to see decent cash flow, also add Airline Marketing. In my experience playing the game, the most expensive Airline Marketing category is your best bet. But it is a bit of a gamble with its 18-40% range. So choose Category 3 if you don’t want to take the chance – this, of course, will limit your profit potential.
      CARGO
      The Basics:
      The basics of operating cargo aircraft remains the same. But here are some pointers about Cargo:
      Large Loads are preferable, but only by a very small margin. Not like First Class on pax.
      Ticket multipliers are 1.1x for Large and 1.08x for Heavy. Ticket calculator for Cargo has been added to the website.
      Large : Heavy ratio is 1.428. A plane configured with 100% Large load will have capacity 70% of that of the original aircraft spec.
      Configuring Cargo planes is a little janky, not much to say at the moment except be careful. Configuration tool will be up on the website as soon as possible.
      The An225 poses a lot of operational problems, and may not end up justifying its acquisition and operation ($11M A-Check every 4 hours + 69 lbs/km fuel consumption) costs. Stopovers should help make it more practical.
      For now, the best Cargo plane seems to be the A380-800F. It doesn't earn as much as the An225, but you can actually fly it smoothly.
      The demand for Cargo is in direct proportion to Passenger demand.
      Large Demand = 500 x Economy Demand
      Heavy Demand = 1000 x Business Demand
      Cargo Aircraft Analysis:
      NOTE: The calculations here are in very ideal circumstances:
      100% Large load.
      24-hours running time.
      100% reputation.
      So while the profits you'll earn will be less than what the numbers here show, the relationships between every aircraft will remain the same.

      $0 - $1.2M
      No feasible aircraft. Both the DC3 and DC9 Cargo aircraft make a loss.

      DC3 Cargo
      Price: "0.85 million"
      Profit per Day ('Realism'): "$-103,088"
      Profit per Day ('Easy'): "$-142,154"
      DC9 Cargo
      Price: "1.10 million"
      Profit per Day ('Realism'): "$-351,097"
      Profit per Day ('Easy'): "$-452,120"

      Best Starter Cargo Aircraft
      A310-300F :
      Price: "7.94 million"
      Profit per Day ('Realism'): "$911,629"
      Profit per Day ('Easy'): "$1,732,459"

      $10M - $20M
      Best: Airbus A400M :
      Price: "12.82 million"
      Profit per Day ('Realism'): "$1,366,581"
      Profit per Day ('Easy'): "$2,513,947"
      NOTE: The other option, The Ilyushin IL-76D, is more expensive but earns about the same.

      $20M - $30M
      Only one option.
      Boeing B757-200F
      Price: "22.55 million"
      Profit per Day ('Realism'): "$2,137,722"
      Profit per Day ('Easy'): "$4,008,724"

      $40M - $60M
      B767-300F
      Price: "50.65 million"
      Profit per Day ('Realism'): "$5,141,683"
      Profit per Day ('Easy'): "$9,127,477"
      Alternative: The A330-200F earns about 2-3% more profit for $12M extra price.

      $100M - $150M
      B747-400F
      Price: "126.60 million"
      Profit per Day ('Realism'): "$5,999,118"
      Profit per Day ('Easy'): "$11,064,246"
      Alternative: The B747-8F earns the same, but is $9M more expensive.

      $150M and Above
      Every plane in this segment earns LESS than the B747-400F/B747-8F.
      The An-124 and A380-800F are duds for their price.
      An-124
      Price: "196.57 million"
      Profit per Day ('Realism'): "$6,010,748"
      Profit per Day ('Easy'): "$10,999,818"
      A380-800F
      Price: "298.77 million"
      Profit per Day ('Realism'): "$6,276,350"
      Profit per Day ('Easy'): "$11,541,102"

      The An-124 can't surpass the B747s while being $60-70M more expensive.
      The A380-800F, while showing some meagre gain, also costs 2.4 times more than the B747s.

      Here's the one you've been waiting for, the Mriya.

      An-225
      Price: "659.92 million"
      Profit per Day ('Realism'): "$10,146,542"
      Profit per Day ('Easy'): "$18,319,700"

      Don't get too excited, though. The plane costs almost $700M dollars and will never show the profits it brags on paper. Good luck finding routes to run this sustainably.

      MAINTENANCE
      A-Checks
      In an aircraft’s details page, you can see the flights hours it can do before it needs an A-check. A-checks are important because flying your fleet into the negative A-check hours means you can be hit with an Audit at any time – which has the potential to bankrupt your airline. A-checks can only be done at a hub.
      Repairs
      Repairs are not something you need to worry about, since aircraft get repaired when you do an A-Check. You will be unable to fly your airplane if it reaches 90% Wear, and you’ll need to repair it to have it off the ground again.

      BUYING HUBS
      Buying the right hubs is important. Ideally, you should have at least 7, one in each continent. But I’d recommend at least 8 – 2 for Asia because of its sheer size.
      These are the hubs you should choose from:
      Note that I’m not going to make a mess out here with 30 hubs listed with no formatting. These hubs are being recommended from experience and by looking at their demand data for various route lengths. You can take my word for them or verify the demands yourself before buying.
      · ASIA
      Singapore (SIN)
      Mumbai (BOM)
      Beijing Capital (PEK)
      Dhaka (DAC)
      Hong Kong (HKG)
      Dubai (DXB)
      New Delhi (DEL)
      · AUSTRALIA
      Sydney Intl (SYD)
      Canberra (CBR)
      · EUROPE
      London Heathrow Intl (LHR)
      Paris Charles de Gaulle (CDG)
      Amsterdam Schiphol (AMS)
      Frankfurt Intl (FRA)
      · NORTH AMERICA
      New York John F. Kennedy (JFK)
      Atlanta Int (ATL)
      Los Angeles (LAX)
      · SOUTH AMERICA
      Buenos Aires Intl (EZE)
      Brasilia (BSB)
      · AFRICA – Buy something cheap for easy A-checks.

      The hubs listed are way more than you need. So pick and choose, but have at least one in each continent.

      AFTERWORD
      I’ve done my best here to cover the basics here, so you can start your new airline without feeling too overwhelmed. There is more to the game though, and any questions you have will be answered on the Boards. Do search the Boards to see if your question has already been answered, before creating a new topic.
      Hope this will be helpful to new airlines.

      HELPFUL LINKS
      Tools Website – https://scuderiaairlines.github.io/AM4-Guides-and-Tools/
      Highest Demand Routes - https://docs.google.com/spreadsheets/d/12FcP--Ztl4CDyltZrJ9_Kj2Y5xixsl8ZXalHrtvVBOE/edit?usp=sharing
      High Market % Airports - https://docs.google.com/spreadsheets/d/1RhXeCtxS8zoHH9qdD43nD6inCHr2K4oaePdu5VqH9So/edit?usp=sharing
      I'll update the Google Doc linked at the start of this post as required.
    </p>
  </div>
</ion-content>
