
<ion-row [ngClass]="{'current-half-hour': isCurrent}" (click)="toggleDetails()">
  <ion-col style="text-align: center; font-size: 10px" size="2">
    {{ usageEntry.time }}
  </ion-col>
  <ng-container *ngIf="showDetails else simple">
    <ion-col>
      <ion-row>
        <ion-col>
          <ion-icon aria-hidden="true" name="caret-down" color="success"></ion-icon>
          {{ (showTotal ? usageEntry.fuel.total.low : usageEntry.fuel.individual.low) | million }}
        </ion-col>
        <ion-col>
          <ion-icon aria-hidden="true" name="caret-up" color="danger"></ion-icon>
          {{ (showTotal ? usageEntry.fuel.total.high : usageEntry.fuel.individual.high) | million }}
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 5px; padding-top: 5px; border-top: 1px solid grey">
        <ion-col>
          {{ usageEntry.fuel.individual.average | million }} <span *ngIf="showTotal" style="color: yellow; font-size: 16px"> &nbsp; ({{ usageEntry.fuel.total.average | million }})</span>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-col>
          <ion-icon aria-hidden="true" name="caret-down" color="success"></ion-icon>
          {{ (showTotal ? usageEntry.co2.total.low : usageEntry.co2.individual.low) | million }}
        </ion-col>
        <ion-col>
          <ion-icon aria-hidden="true" name="caret-up" color="danger"></ion-icon>
          {{ (showTotal ? usageEntry.co2.total.high : usageEntry.co2.individual.high) | million }}
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 5px; padding-top: 5px; border-top: 1px solid grey">
        <ion-col>
          {{ usageEntry.co2.individual.average | million }} <span *ngIf="showTotal" style="color: yellow; font-size: 16px"> &nbsp; ({{ usageEntry.co2.total.average | million }})</span>
        </ion-col>
      </ion-row>
    </ion-col>
  </ng-container>
</ion-row>

<ng-template #simple>
  <ion-col class="simple-col">
    {{ usageEntry.fuel.individual.average | million }}
  </ion-col>
  <ion-col class="simple-col">
    {{ usageEntry.co2.individual.average | million }}
  </ion-col>
  <ion-col class="simple-col" *ngIf="showPrice">
    ⛽ {{ usageEntry.fuel.price | currency }}<br>
    🌱 {{ usageEntry.co2.price | currency }}
  </ion-col>
</ng-template>
